.movementsContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.summary {
  height: 100%;
  flex: 3;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
}

.movementsSummary {
  height: 100%;
  display: flex;
}
