.expenseCard {
  margin: 0 auto;
  color: black;
  width: 35rem;
  min-height: min-content;
  margin-bottom: 2.5rem;
  color: #1f1f1f;
  padding: 1.5rem;
  font-size: 2.2rem;
  position: relative;
}

.expenseCard:hover .deleteBtn {
  opacity: 1;
}

.deleteBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: grey;
  font-size: 2.2rem;
  padding: 1.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.2s;
  opacity: 0;
}

.deleteBtn:hover,
.deleteBtn:active {
  background-color: #d3d3d3;
  color: white;
  cursor: pointer;
}

.expenseCard > * {
  margin: 0.7rem;
}

.title {
  font-size: 2.7rem;
  font-weight: bold;
}

.detail {
  display: flex;
  align-items: center;
}

.expenseCard span {
  margin-left: 1rem;
}
