.button {
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: #4f005f;
  border: 1px solid #4f005f;
  transition: all 0.2s;
  color: white;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
}

.button:hover,
.button:active {
  background-color: #9800b6;
  border: 1px solid #9800b6;
}
